.navbar{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 55px;
}

.link{
    color:white;
    padding: 5px;
    margin-top: 10px;
    font-size: 30px;
    margin-left: 17px;

}

.logout-icon{
    color:white;
    margin-top: 15px;
    margin-left: 17px;
    font-size: 30px;
}