body,html{
    padding:0;
    margin:0;
    background-color: black;
    color:whitesmoke;
    background-image: url(https://images.rawpixel.com/image_1300/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2ZydHJhaW5pbmdfYmFyYmVsbF9tdXNjbGVzX2hhbmRzLWltYWdlLWt5YmNrMms2LmpwZw.jpg) ;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    }
        
    #container{
    display:grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, auto);
    }
        
    ul{
    list-style-type: none;
    
    }
    
    li{
    background-color: #3a3838d1;
    text-align:center ;
    width: 450px;
    position: relative;
    left: 30%;
    height:350px;
   
    }

    li:hover{
    box-shadow: 0 0 100px red,
    0 0 160px red,
    0 0 180px white;
 
    
    }

    input:hover{
    box-shadow: 0 0 100px red,
    0 0 160px red,
    0 0 180px white;
    }
    
    .title{
        grid-column: 2/3;
        grid-row: 1/1;
        text-align: center;
        text-shadow:  0 0 7px #f10828,
        0 0 10px #fff,
        0 0 11px #fff,
        0 0 22px #f10828,
        0 0 48px #f10828,
        0 0 87px #f10828,
        0 0 102px #f10828,
        0 0 151px #f10828; 
        width: 400px;
        margin-left: 34%;
        
    }
    
    #form{
    grid-column: 2/3;
    grid-row:2/6;
    
    }
    
    #checkBox{
    position: relative;
    bottom: 87px;
    right: 80px;
    
    }

    #checkBox:hover{
     box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px  #f10828;
    }

    .workoutImg{
    position: relative;
    left: 45px
    }

    #editButton{
        position:relative;
        right: 90px;
        top: 20px
    }

    #X{
    position: relative;
    top: 20px;
    right:10px
    }

    #addTodo{
    grid-column: 1/-1;
    grid-row: 2/2;
    text-align:center;
    margin-left: 80px
    }

    button{
    background-color: transparent;
    color:white;
    border-color:  #f10828;
    text-shadow:  0 0 7px #f10828,
        0 0 10px #fff,
        0 0 11px #fff,
        0 0 22px #f10828,
        0 0 48px #f10828,
        0 0 87px #f10828,
        0 0 102px #f10828,
        0 0 151px #f10828; 
    }

    button:hover{
     box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px  #f10828;
    }

    label{
    grid-column: 1/-1;
    grid-row: 1/1;
   text-shadow:  0 0 7px #f10828,
        0 0 10px #fff,
        0 0 11px #fff,
        0 0 22px #f10828,
        0 0 48px #f10828,
        0 0 87px #f10828,
        0 0 102px #f10828,
        0 0 151px #f10828; 
    margin-right: 950px;
    margin-left: 50px;
    text-align: center;
    width:160px;
    position: relative;
    top: 19px;
    left:60px
    }

    h2{
    text-transform: uppercase
    }
    
    
        
    
    
